@font-face {
    font-family: 'gingerregular';
    src: url('../font/ginger-webfont.woff2') format('woff2'),
         url('../font/ginger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    height: 100vh;
    margin-left: 15%;
    border-left: 1px solid gray;
}
/* modification header */
h1 {
    font-family: 'gingerregular';
    font-size: 50px;
    padding: 30px 0px;
}

/* text défillant pour les h2 */
.container {
    overflow: hidden;
    margin: none;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    transform: translateY(-10%);
    margin: none;
}
.container2{
    overflow: hidden;
    margin: none;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    transform: translateY(-10%);
    margin: none;
}
.txt{
    font-family: 'gingerregular';
    padding: 7px 0;
    white-space: nowrap;
    font-size: 150px;
    animation: scrollTxt 7s linear infinite;
}
.txt2{
    font-family: 'gingerregular';
    padding: 7px 0;
    white-space: nowrap;
    font-size: 150px;
    animation: scrollTxt2 20s linear infinite;
}
@keyframes scrollTxt {
    0%{
        transform: translate(0%, 0);
      }
      100% {
        transform: translate(100%, 0);
      }
  }
  @keyframes scrollTxt2 {
    0%{
        transform: translate(200%, 0);
      }
      100% {
        transform: translate(0%, 0);
      }
  }
#app{
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
}
header > p {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
header{
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 17em;
    margin-bottom: 20px;
}
main{
    /* margin-left: 20px;    */
}
/* chngement des couleurs typo et éléments important */
.switchedcolor{
    color: greenyellow;
}
/* Modification de ma présentation */
.presentation{
    padding: 10px 5px;
    height: 50vh;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: #ffffff solid 1px;
}
.presentation > p{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}
/* modification mes projets */
#projets{
    height: 50vh;
}
.jojo{
    width: 220px;
    height:280px;
}
/* modification compétences */
.align-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px 0;
}
.reset-logo{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.cercle-logo{
    width: 750px;
}
/* modification footer */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin-top: 55px;
}

.logo-reseaux{
    margin: 5px;
    width: 40px;
}
.droits{
    padding-top: 10px;
}
