@font-face {
    font-family: 'gingerregular';
    src: url('../font/ginger-webfont.woff2') format('woff2'),
         url('../font/ginger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    color:white;
    height: 100vh;
    background: rgb(2, 2, 2); 
}
/* modification header */
h1, h2{
    font-family: 'gingerregular';
    font-size: 50px;
    padding: 30px 0px;
}
#app{
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
}
header > p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 1px  0 3px;
}
header{
    letter-spacing: 2px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 17em;
    margin-bottom: 20px;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
/* chngement des couleurs typo et éléments important */
.switchedcolor{
    color: greenyellow;
}
/* Modification de ma présentation */
.presentation{
    padding: 10px 5px;
    height: 50vh;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: #ffffff solid 1px;
}
.presentation > p{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}
/* modification mes projets */
#projets{
    height: 50vh;
}
.jojo{
    width: 220px;
    height:280px;
}
/* modification footer */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin-top: 55px;
    border-top: #ffffff solid 1px;
}
.logo-reseaux{
    margin: 5px;
    width: 40px;
}
.droits{
    padding-top: 10px;
}
